<section class="w-50 mt-3">
    
    <h3>Chat</h3>

    <div style="min-height: 20vh; overflow: auto;" class="card" id="chat">

    </div>
    <form onsubmit="return addMessage(this)" class="row g-3 mt-1">
        <div class="col-10">
            <input type="text" name="message" id="message" class="form-control" placeholder="write your message here...">
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</section>